img {
    width: auto;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*--------------------------------- Navigation -------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
#my_nav {
    height: 100%;
    width: 4rem;
    position: fixed;
    background-color: #171a1e;
    z-index: 2;
    
}

#my_nav #emblem {
    border-bottom: 0.05rem solid #0e0e0e;
}


#my_nav a {
    height: 5rem;
    width: 4rem;
    display: inline-block;
    padding-top: 1.5rem;
}

#my_nav a img {
    width: 3rem;
    display: block;
    margin: auto;
    opacity: 0.5;
}

#my_nav a img:hover {
    opacity: 1;
}

#nav_active {
    opacity: 1 !important;
}

#emblem img {
    opacity: 1 !important;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------- Header ---------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
#header_container {
    /*background-image: url(Images/header/header_background_image.jpg);*/
    background-color: /*rgb(13,43,119)*/ #11c42f;
    height: 100%;
    color: #fff;
    padding: 1rem 1.6rem;
}

#header_container #header_title {
    padding-top: 1rem;
    padding-left: 1.6rem;
    margin-bottom: 1.8rem;
}

#header_card {
    background-color: rgba(31,31,33,0.8);
    color: #fff;
    margin-bottom: 1.4rem;
    border-radius: 0.5rem;
    padding: 0.8rem 1.5rem;
    text-align: center;
    font-size: 18px;
}

#header_card p {
    opacity: 1;
}

#header_card #my_header {
    color: #da63ff;
    font-weight: bold;
    font-size: 20px;
}

#unique_header_card {
    
}

#my_center {
    text-align: center;
}

.pseudo_center {
    text-align: left !important;
    padding-left: 40% !important;
}

#unique_header_card #my_header {
    text-align: left;
}

#unique_header_card .paragraph {
    text-align: left;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------- Content --------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
#content {
    padding-left: 4rem;
}

.content_card {
    padding: 1rem 1.6rem;
}

.white {
    background-color: white !important;
    color: black !important;
}

.gray {
    background-color: gray !important;
    color: white !important;
}

.dark_gray {
    background-color: darkgray !important;
    color: white !important;
}

.content_box {
    padding: 1.7rem 1.6rem;
}

.white .content_box {
    background-color: lightgray;
    color: black;
}

.gray .content_box {
    background-color: white;
    color: black;
}

#content_header {
    font-size: 2rem;
    padding-left: 1.6rem;
}


#fake_nav_element {
    margin: auto;
}

#fake_nav_element a {
    display: inline-block;
    margin: 1rem;
}

#fake_nav_element a img {
    width: 9rem;
}
/*
@media screen and (min-height: 150px) {
    .row {
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
        flex-wrap: wrap !important;
    }
    
    .row > [class *= "col-"] {
        display: flex !important;
        flex-direction: column !important;
    }

    .row:after, .row:before {
        display: flex !important;
    }
}*/

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------- Footer ---------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------------------------------ Index ---------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------------------------------- Form ---------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
form {
    padding-left: 40%; /* change later */
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*-------------------------------- Miscellaneous -----------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
#DublinGaelForce .col-md-6 {
    height: 450px;
}

#DublinGaelForce .left {
    border-right: 0.3rem solid darkgray;
}

#DublinGaelForce .col-md-6 img {
    float: right;
}

#DublinGaelForce .col-md-6 iframe {
    width: 100%;
}

#resume_header {
    /* use h4 */
    font-weight: bold;
    color: #07960c;
}

#resume_header2 {
    /* use h6 */
    font-weight: bold;
    color: black;
}

#resume_date {
    float: right;
    color: gray;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------------------------- Mobile Screens -----------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
@media screen and (max-width: 750px) {
    /* navbar at the top */
    p {
        font-size: 10px !important;
    }
    
    h1 {
        font-size: 28px !important;
    }
    
    a {
        font-size: 10px;
    }
    
    #my_nav {
        box-sizing: border-box;
        height: 5rem !important;
        width: 100% !important;
        white-space: nowrap;
        overflow: auto !important;
        overflow-y: hidden;
        padding-top: 0.5rem;
    }
    
    #my_nav a {
        display: inline !important;
        margin-left: 0.5rem;
    }
    
    #my_nav #emblem {
        border-bottom: none;
    }
    
    #my_nav a img {
        display: inline !important;
        height: auto;
    }
    
    #my_nav #home {
        display: none;
    }
    
    #content {
        padding-left: 0;
        padding-top: 5rem;
    }
    
    #content_box {
        padding: 0 !important;
    }
    
    #content_box .content_card {
        margin: 0 !important;
    }
    
    #DublinGaelForce {
        padding-right: 0;
    }
    
    #DublinGaelForce .left {
        border-right: none;
        margin-bottom: 2rem;
    }
    
    #DublinGaelForce .col-md-6 {
        height: auto !important;
        width: 100%;
    }

    
    #DublinGaelForce .col-md-6 iframe {
        height: 100%;
        width: 100% !important;
    }
}